body          {
    background: rgb(255, 255, 255);
    color:black;
  }

/*Especificidad 001*/
h1 {
    background-color:#000000; 
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 25px 25px;
    text-align: center;     
}

div{
    max-width: 300px;
    margin: 0 auto;
    border: 2px solid #111;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(50, 47, 47);
    background:  rgba(92, 160, 101, 0.911);
    color:black;
}

div p   {
    padding: 20px 10px;
    width: 90%;
    color: #333;
    background: rgba(92, 160, 101, 0.911);
    text-align: right;
    font-size: 40px;
    border-radius: 0;
    overflow: hidden;
  }

form[class="calculadora"]{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: rgba(31, 28, 28, 0.911); /* light background with opacity 50% */
    color: #EEE;
    border-radius: 5px;
    font-size: 22px; 
    cursor: pointer;
}

input{
    fill:unset;
    text-align: center;
    padding: 15%;
    box-shadow: 1px 1px rgb(134, 134, 134);
    border: 0.2px solid rgb(138, 135, 135);
}
input:active{
    color: #EEE;
    background-color:rgb(54, 53, 53);
}
input:hover{
    color: #EEE;
    background-color:rgba(138, 136, 136, 0.473);
}
input[class = "operando"]{
    background-color: rgb(189, 179, 179);
    color: rgb(54, 51, 51);
}
input[class = "memoria"]{
    background-color: rgb(78, 70, 70);
    color: #EEE;
}
label{
    display:none;
}